/* Общие стили */
body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Это гарантирует, что футер всегда будет внизу */
}
/* Навигационная панель */
.navbar{
  background-color: #0066cc;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Логотип и название */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.nav-logo img {
  height: 50px;
  width: auto;
  border-radius: 8px;
}

.nav-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Ссылки в навигации */
nav a {
  text-decoration: none;
  color: white;
}

/* Выбор языка */
.language-selector {
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  align-items: center;
}

#language-select {
  padding: 4px 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  border: 1px solid #0066cc;
  background-color: #3995f1;
}

/* Burger-меню */
.ham-menu {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  top: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3000; /* на всякий случай */
  transition: transform 0.3s ease-in-out; /* Добавим плавность перехода */
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  transform-origin: center;
  transition: all 0.3s ease; /* Плавный переход для всех свойств */
}

.ham-menu.active span:nth-child(1) {
  transform: translateY(17px) rotate(45deg); /* Верхняя линия превращается в верхнюю часть крестика */
}

.ham-menu.active span:nth-child(2) {
  opacity: 0; /* Средняя линия исчезает */
  transform: scale(0); /* Делает среднюю линию невидимой */
}

.ham-menu.active span:nth-child(3) {
  transform: translateY(-16px) rotate(-45deg); /* Нижняя линия становится второй половиной крестика */
}
/* Боковое меню */
.off-screen-menu {
  background-color: #0077cc;
  height: 100vh;
  width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  transition: right 0.3s ease, opacity 0.3s ease; /* добавим плавность появления */
  opacity: 0; /* изначально невидимо */
  pointer-events: none; /* чтобы нельзя было кликнуть вне экрана */
  z-index: 2600;
}

.off-screen-menu.active {
  right: 0;
  opacity: 1;
  pointer-events: auto; /* снова кликабельно */
}


.off-screen-menu ul {
  padding: 0;
}

.off-screen-menu ul li {
  margin: 20px 0;
  padding-left: 20px;
}

.off-screen-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.off-screen-menu ul li a:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 3px 0px;
  border-radius: 5px;
}

/* Кнопка закрытия меню */
.close-menu {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Заголовок */
header {
  background-color: #e3f2fd;
  color: #0066cc;
  padding: 40px 20px;
  text-align: center;
  margin-top: 82px;
  border-bottom: 1px solid #000000;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

/* Подвал */
footer {
  background-color: #0066cc;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: auto; /* Это заставит футер всегда быть внизу */
}

/* Основной контент */
main {
  flex-grow: 1;
  padding: 30px 15px;
  text-align: center;
  font-size: 1.2rem;
  color: #444;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  
}

main p {
  max-width: 800px;
  margin: 20px auto;
}

/* #content {
  display: flex;
  height: 100vh; /* минус навбар и заголовок */

#map-container {
  flex: 1;
  width: 100%;
  height: 100%;
}
#map {     
       
  height: 70vh;   
  width: 100%;     
}

#category-container {
  width: 30vw;
  height: 100%;
  overflow-y: auto;

}


/* Заголовок для категории */
#category-container h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Селектор категорий */
#category-select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #e4e4e4;
}

/* Список мест */
#places-list {
  max-height: 50vh;
  overflow-y: auto;
}

#places-list div {
  padding: 10px;
  background-color: #e9ecef;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#places-list div:hover {
  background-color: #d3d3d3;
}

/* Общие стили для всех элементов */
* {
  box-sizing: border-box;
}
/* Стиль для страницы Tietoa, чтобы она занимала всю ширину */
.tietoa-page {
  width: 100%;
  margin: 0 auto; /* Центрирует контент */
  padding: 20px;
  box-sizing: border-box;
  margin: 10%; /* Центрирует контент */
}

.tietoa-page h2 {
  text-align: center;
  font-size: 2rem;
  color: #0066cc;
}

.tietoa-page p {
  text-align: justify;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}
/* place description */
.place-description {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 33%;
}
.place-description img {
  margin-bottom: 10px;
  width: 100%;
  object-fit: cover;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#content {
  flex: 1;
  display: flex;
  gap: 20px;
}

